.idea
*/**/*.iml
node_modules
build
public/dist/
todolistapp/node_modules
styletest/node_modules
slottest/node_modules
dynamic-component/node_modules
contactsapp/node_modules
contactsapp_search/node_modules